footer {
  width: 100%;
}

.footer {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  background-color: #282828;
  height: 150px;
}

.footer .nav-link {
  text-decoration: none;
  color: white !important;
  margin-right: 10px;
  font-size: 16px;
}

.footer-left,
.footer-right {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: 500;
  height: 100%;
}

.footer-center {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fcdec0;
  width: 20%;
}

.footer-center p {
  font-size: 15px;
  color: white;
}

.footer-center h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}
