.home-start {
    width: 100%;
    max-height: 660px;
    color: white;
    background-image: linear-gradient(to right, #C68B59 10%, #FDC185);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-start{
  max-height: 480px;
}